kind: Deployment
apiVersion: apps/v1
metadata:
  name: rust-mongodb
  labels:
    app: rust
    tier: db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rust
      tier: db
  template:
    metadata:
      labels:
        app: rust
        tier: db
    spec:
      containers:
        - name: mongo
          image: mongo:4
          ports:
            - containerPort: 27017
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
