.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  max-height: 250px;
}

.circle {
  transition: stroke-dasharray 0.3s ease;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.percentage {
  font-family: sans-serif;
  font-size: 0.5em;
  font-weight: bold;
  fill: #333;
}


