body{
    font-family: 'Roboto', sans-serif;
     background:#f8f9fa;
}

.container{
    margin-top:50px;
    background: white;
    border-radius: 10px;
    z-index: 10;
    position: relative;
    padding:50px 16px;
}
.next-logo{
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.5;
    z-index: -1;
    width: 30%
}
a:hover{
    text-decoration: none;
}
.header .container {
    background: none;
    
}

/* Fix for navbar container inheriting large padding/margin */
.navbar .container {
    margin-top: 0;
    padding: 0;
    background: transparent;
    z-index: 20;
}

.dropdown-menu {
    z-index: 1000;
}

.grid-container {
    display: grid;
    grid-template-columns: var(--col);
    grid-template-rows: var(--row);
}

.grid-item {
    display: inline-grid;
    height: 32px;
    width: 32px;
}

.minesweeper-tile {
    color:#4285f4;
}

.minesweeper-button {
    width: 32px;
    height: 32px;
    border: 1px solid black;
}

.minesweeper-button-uncovered {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    background-color:#0f9d58;
}

.minesweeper-button-bomb {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    background-color: red;
}

.minesweeper-button-flag {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    background-color: blue;
}