<ul class="navbar-nav">
  @if (!authService.status().isAuthenticated) {
    <li class="nav-item">
      <a class="nav-link text-dark" [routerLink]="['/login']">Login</a>
    </li>
  }
  @if (authService.status().isAuthenticated) {
    <li class="nav-item dropdown" [class.show]="isUserMenuExpanded()">
      <a
        class="nav-link dropdown-toggle text-dark"
        style="cursor: pointer"
        (click)="toggleUserMenu()"
        (keydown.enter)="toggleUserMenu()"
        (keydown.space)="toggleUserMenu(); $event.preventDefault()"
        id="userMenu"
        role="button"
        aria-haspopup="true"
        [attr.aria-expanded]="isUserMenuExpanded()"
        tabindex="0"
      >
        {{ authService.status().name }}
      </a>
      <div class="dropdown-menu dropdown-menu-right" [class.show]="isUserMenuExpanded()" aria-labelledby="userMenu">
        <a class="dropdown-item" [routerLink]="['/history']" (click)="closeUserMenu()">History</a>
        <a class="dropdown-item" [routerLink]="['/stats']" (click)="closeUserMenu()">Stats</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" style="cursor: pointer" (click)="logout()" (keydown.enter)="logout()" (keydown.space)="logout(); $event.preventDefault()" tabindex="0">Logout</a>
      </div>
    </li>
  }
</ul>

