.card {
  border-radius: 15px;
  border: none;
}

.btn-outline-dark {
  border-radius: 10px;
  font-weight: 500;
  padding: 12px;
  transition: all 0.2s ease;
}

.btn-outline-dark:hover {
  background-color: #f8f9fa;
  color: #212529;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

img {
  margin-right: 15px;
}

